.intro-02-bg{background-image:url('https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/26814742_10210967230805087_3450480737807567291_n.jpg?oh=b708ff2acb4e6a4ccc924f3a986d0e2a&oe=5AE76F3B');}
.intro-04-bg{background-image:url('http://placehold.it/1500x1000.jpg');}
.intro09-01{background-image:url('http://placehold.it/1500x1000.jpg');}
.intro09-02{background-image:url('http://placehold.it/1500x1000.jpg');}
.intro09-03{background-image:url('http://placehold.it/1500x1000.jpg');}
.intro-02-bg{background-image:url('http://placehold.it/1500x1000.jpg');}
.about-bg{background-image:url('http://placehold.it/1500x1000.jpg');}
.works-bg{background-image:url('https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/26814742_10210967230805087_3450480737807567291_n.jpg?oh=b708ff2acb4e6a4ccc924f3a986d0e2a&oe=5AE76F3B');}
.showcase-01{background-image:url('https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/26814742_10210967230805087_3450480737807567291_n.jpg?oh=b708ff2acb4e6a4ccc924f3a986d0e2a&oe=5AE76F3B');}
.showcase-02{background-image:url('images/crnobijela.jpg');}
.showcase-03{background-image:url('http://placehold.it/1500x1000.jpg');}
.showcase-04{background-image:url('http://placehold.it/1500x1000.jpg');}
.showcase-05{background-image:url('http://placehold.it/1500x1000.jpg');}
.lookbook-01{background-image:url('http://placehold.it/1500x1000.jpg');}
.lookbook-02{background-image:url('http://placehold.it/1500x1000.jpg');}
.lookbook-03{background-image:url('https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/26814742_10210967230805087_3450480737807567291_n.jpg?oh=b708ff2acb4e6a4ccc924f3a986d0e2a&oe=5AE76F3B');}
.lookbook-04{background-image:url('http://placehold.it/1500x1000.jpg');}
.lookbook-05{background-image:url('http://placehold.it/1500x1000.jpg');}
.lookbook-06{background-image:url('http://placehold.it/1500x1000.jpg');}
.photography-01{background-image:url('http://placehold.it/1500x1000.jpg');}
.photography-02{background-image:url('http://placehold.it/1500x1000.jpg');}
.photography-03{background-image:url('https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/26814742_10210967230805087_3450480737807567291_n.jpg?oh=b708ff2acb4e6a4ccc924f3a986d0e2a&oe=5AE76F3B');}
.photography-04{background-image:url('http://placehold.it/1500x1000.jpg');}
.photography-05{background-image:url('http://placehold.it/1500x1000.jpg');}
.project-01{background-image:url('http://placehold.it/1500x1000.jpg');}
.project-02{background-image:url('https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/26814742_10210967230805087_3450480737807567291_n.jpg?oh=b708ff2acb4e6a4ccc924f3a986d0e2a&oe=5AE76F3B');}
.project-03{background-image:url('http://placehold.it/1500x1000.jpg');}
.menu-collapser{background-image:url('');}
